<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Conta - MilhasPro</title>
  <link rel="stylesheet" href="../static/css/criar_conta.css">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  
  <style>

  </style>
</head>

<body>
    <div class="container">
        <div class="brand">MILHAS<span>PRO</span></div>
        <h2>CRIAR CONTA</h2>

        {% if erro %}
            <div class="message error">
                {{ erro }}
            </div>
        {% end %}

        <form method="post">
            <input name="usuario" placeholder="Seu Nome" value="{{ usuario_prefill }}" required>
            <input name="email" type="email" placeholder="Seu melhor e-mail" value="{{ email_prefill }}" required>
            <input type="password" name="senha" placeholder="Crie uma senha forte" required>
            <button type="submit" class="submit-btn">Finalizar Cadastro</button>
        </form>

        <a href="/login" class="back-link">Já tem uma conta? Faça Login</a>
    </div>
</body>
</html> 